{% extends 'base.html.twig' %}

{% block title %}Dragon Ball Super Streaming - Inscription{% endblock %}
{% block meta %}Enregistrer un nouveau compte{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
