{{ form_start(form) }}
<div class="row">
    <div class="col-md-2">
        {{ form_row(form.saison) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.number) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.avatar) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.releasedAt) }}
    </div>
</div>
<h5>VF</h5>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.openload_link_vf, "Doodstream VF") }}
        {{ form_widget(form.openload_link_vf) }}
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.streamango_link_vf, "Vidoza VF") }}
        {{ form_widget(form.streamango_link_vf) }}
        <br>
    </div>
</div>
<h5>VOSTFR</h5>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.openload_link_vostfr, "Doodstream VOSTFR") }}
        {{ form_widget(form.openload_link_vostfr) }}
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.streamango_link_vostfr, "Vidoza VOSTFR") }}
        {{ form_widget(form.streamango_link_vostfr) }}
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.description) }}
    </div>
</div>
<button class="btn btn-primary mb-4">{{ button|default('Ajouter') }}</button>
{{ form_end(form) }}