{% extends 'base.html.twig' %}
{% block title %}Dragon Ball Super Streaming - Admin création{% endblock %}
{% block meta %}Administration et création d'épisodes du site{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">
        <h2 class="mb-4">Ajouter un épisode</h2>

        {{ include ('admin/episodes/_form.html.twig') }}
    </div>

{% endblock %}