{% extends 'base.html.twig' %}
{% block title %}Dragon Ball Super Streaming Gratuit en VF et VOSTFR{% endblock %}
{% block meta %}Regardez toutes les saisons et tous les épisodes de la série Dragon Ball Super en streaming gratuit VF et VOSTFR !{% endblock %}
{% block body %}

    <div class="container-fluid mt-container-home">
        <h1 class="text-center mb-5">Dragon Ball Super en streaming gratuit VF et VOSTFR</h1>
        <div class="row flex">
                <div class="card-deck deck-home">
                    {% for saison in saisons %}
                    <div class="card hvr-grow-shadow card-saison saison-last-{{ loop.last }}">
                            <div class="ribbon"><span>{{ saison.name }}</span></div>
                        <img class="card-img img-home" src="{{ asset('uploads/saisons_directory/' ~ saison.avatar) }}" alt="Affiche de la {{ saison.name }} de Dragon Ball Super" title="Affiche de la {{ saison.name }} de Dragon Ball Super">
                        <a href="{{ path('saison.show', {slug: saison.slug, id: saison.id}) }}" class="card-img-overlay hvr-fade" title="Regarder la {{ saison.name }} de Dragon Ball Super en streaming gratuit VF et VOSTFR">
                            <div class="card-title card-titlehome">
                                <h2>Regarder la {{ saison.name }} de Dragon Ball Super</h2>
                                <p>{{ saison.description|slice(0,249) }}...</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
