{% extends 'base.html.twig' %}
{% block title %}Regarder d'autres séries sur Dragon Ball Super Streaming Gratuit en VF et VOSTFR{% endblock %}
{% block meta %}Regardez d'autres séries sur Dragon Ball Super streaming gratuit en VF et VOSTFR !{% endblock %}
{% block body %}

    <div class="container-fluid mt-container-home">
        <h1 class="text-center mb-5">Dragon Ball Super streaming gratuit VF et VOSTFR - Séries</h1>
        <div class="row flex">
            <div class="card-deck deck-home">
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/dbs.jpg') }}" alt="Affiche de Dragon Ball Super" title="Affiche de Dragon Ball Super">
                    <a href="https://dbs-streaming.com" class="card-img-overlay hvr-fade" title="série Dragon Ball Super en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/vampire.jpg') }}" alt="Affiche de The Vampire Diaries" title="Affiche de The Vampire Diaries">
                    <a href="https://the-vampire-diaries-streaming.com" class="card-img-overlay hvr-fade" title="série The Vampire Diaries en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/got.jpg') }}" alt="Affiche de game of thrones" title="Affiche de game of thrones">
                    <a href="https://got-streaming-gratuit.com" class="card-img-overlay hvr-fade" title="série Game of Thrones en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/harrypotter.jpg') }}" alt="Affiche de Harry Potter" title="Affiche de Harry Potter">
                    <a href="https://harry-potter-streaming.com" class="card-img-overlay hvr-fade" title="Harry Potter en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/onepiece.jpg') }}" alt="Affiche de One Piece" title="Affiche de One Piece">
                    <a href="https://voir-one-piece-streaming.com" class="card-img-overlay hvr-fade" title="série One Piece en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/demon.jpg') }}" alt="Affiche de Demon Slayer" title="Affiche de Demon Slayer">
                    <a href="https://demon-slayer-streaming.com" class="card-img-overlay hvr-fade" title="série Demon Slayer en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/shippuden.jpg') }}" alt="Affiche de Naruto Shippuden" title="Affiche de Naruto Shippuden">
                    <a href="https://naruto-shippuden-streaming.com" class="card-img-overlay hvr-fade" title="série Naruto Shippuden en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/academia.jpg') }}" alt="Affiche de My Hero Academia" title="Affiche de My Hero Academia">
                    <a href="https://myheroacademia-streaming.com" class="card-img-overlay hvr-fade" title="série My Hero Academia en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/titans.jpg') }}" alt="Affiche de Attaque des Titans" title="Affiche de Attaque des Titans">
                    <a href="https://attaquedestitans-streaming.com" class="card-img-overlay hvr-fade" title="série Attaque des Titans en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/bleach.jpg') }}" alt="Affiche de Bleach" title="Affiche de Bleach">
                    <a href="https://bleach-streaming.com" class="card-img-overlay hvr-fade" title="série Bleach en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/vikings.jpg') }}" alt="Affiche de Vikings" title="Affiche de the Vikings">
                    <a href="https://vikings-streaming.com" class="card-img-overlay hvr-fade" title="série Vikings en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/100.jpg') }}" alt="Affiche de the 100" title="Affiche de the 100">
                    <a href="https://regarder-the-100-streaming.com" class="card-img-overlay hvr-fade" title="série the 100 en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/stranger.jpg') }}" alt="Affiche de sranger things" title="Affiche de stranger things">
                    <a href="https://strangerthings-streaming.com" class="card-img-overlay hvr-fade" title="série Stranger Things en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/witcher.jpg') }}" alt="Affiche de the witcher" title="Affiche de the witcher">
                    <a href="https://regarder-the-witcher-streaming-gratuit.com" class="card-img-overlay hvr-fade" title="série The Witcher en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/malcolm.jpg') }}" alt="Affiche de malcolm" title="Affiche de malcolm">
                    <a href="https://regarder-malcolm-streaming.com" class="card-img-overlay hvr-fade" title="série Malcolm en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/walking.jpg') }}" alt="Affiche de The walking dead" title="Affiche de The walking dead">
                    <a href="https://the-walking-dead-streaming.com" class="card-img-overlay hvr-fade" title="série The walking dead en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/anatomy.jpg') }}" alt="Affiche de Grey's Anatomy" title="Affiche de Grey's Anatomy">
                    <a href="https://greys-anatomy-streaming.com" class="card-img-overlay hvr-fade" title="série Grey's Anatomy en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/peaky.jpg') }}" alt="Affiche de Peaky Blinders" title="Affiche de Peaky Blinders">
                    <a href="https://regarder-peaky-blinders-streaming.xyz" class="card-img-overlay hvr-fade" title="série Peaky Blinders en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/american.jpg') }}" alt="Affiche de American Horror Story" title="Affiche de American Horror Story">
                    <a href="https://americanhorrorstory-streaming.com" class="card-img-overlay hvr-fade" title="série American Horror Story en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/prison.jpg') }}" alt="Affiche de Prison Break" title="Affiche de Prison Break">
                    <a href="https://regarder-prison-break-streaming.com" class="card-img-overlay hvr-fade" title="série Prison Break en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/watchmen.jpg') }}" alt="Affiche de Watchmen" title="Affiche de Watchmen">
                    <a href="https://regarder-watchmen-streaming.com" class="card-img-overlay hvr-fade" title="série Watchmen en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/materials.jpg') }}" alt="Affiche de His Dark Materials" title="Affiche de His Dark Materials">
                    <a href="https://regarder-his-dark-materials-streaming.com" class="card-img-overlay hvr-fade" title="série His Dark Materials en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/bureau.jpg') }}" alt="Affiche de Bureau des légendes" title="Affiche de Bureau des légendes">
                    <a href="https://regarder-le-bureau-des-legendes-streaming.com" class="card-img-overlay hvr-fade" title="série Bureau des légendes en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/famille.jpg') }}" alt="Affiche de Ma Famille D'abord" title="Affiche de Ma Famille D'abord">
                    <a href="https://ma-famille-dabord-streaming.com" class="card-img-overlay hvr-fade" title="série Ma Famille D'abord en streaming">
                    </a>
                </div>
                <div class="card hvr-grow-shadow card-series">
                    <img class="card-img img-home" src="{{ asset('uploads/series_directory/mirror.jpg') }}" alt="Affiche de Black Mirror" title="Affiche de Black Mirror">
                    <a href="https://black-mirror-streaming.com" class="card-img-overlay hvr-fade" title="série Black Mirror en streaming">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
