{% extends 'base.html.twig' %}
{% block title %}Dragon Ball Super Streaming - Admin saison création{% endblock %}
{% block meta %}Administration et création de saisons du site{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">
        <h2>Ajouter une saison</h2>

        {{ include ('admin/saisons/_form.html.twig') }}
    </div>

{% endblock %}