{% extends 'base.html.twig' %}
{% block title %}Dragon Ball Super Streaming - Admin saison edition{% endblock %}
{% block meta %}Administration et edition des saisons du site{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">
        <h2>Editer la {{ saison.name }}</h2>
        {{ include('admin/saisons/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>

{% endblock %}