<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-210636927-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-210636927-1');
        </script>-->

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block meta %}Regarder toutes les saisons et tous les épisodes de la série Dragon Ball Super en streaming gratuit!{% endblock %}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('uploads/logo.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark got-nav">
        <a class="navbar-brand link-home" href="{{ path('home') }}" title="Regarder Dragon Ball Super en Streaming gratuit VF et VOSTFR">Dragon Ball Super Streaming</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Accueil" %} active {% endif %}" title="Regarder les saisons de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Saison 1" %} active {% endif %}" title="Regarder la saison 1 de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/dbs-streaming-gratuit-saison-1">Saison 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Saison 2" %} active {% endif %}" title="Regarder la saison 2 de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/dbs-streaming-gratuit-saison-2">Saison 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Saison 3" %} active {% endif %}" title="Regarder la saison 3 de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/dbs-streaming-gratuit-saison-3">Saison 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Saison 4" %} active {% endif %}" title="Regarder la saison 4 de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/dbs-streaming-gratuit-saison-4">Saison 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Saison 5" %} active {% endif %}" title="Regarder la saison 5 de Dragon Ball Super en streaming VF et VOSTFR gratuit" href="/dbs-streaming-gratuit-saison-5">Saison 5</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link float-left {% if current_menu is defined and current_menu == "Autres series" %} active {% endif %}" title="Regarder d'autres séries" href="/series">AUTRES SERIES</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-618f09ed7dc2c5d3"></script>

        {% block body %}{% endblock %}
     <footer class="my_footer">
        <div class="container">
            <h4 class="footer-title">dbs-streaming.com VF ET VOSTFR gratuit</h4>
            <p>
                Ce site n'héberge aucun fichier vidéo. Nous ne faisons que répertorier du contenu se situant sur divers
                hébergeurs légalement reconnus... Si vous constatez quoi que ce soit, veuillez prendre contact avec l'hébergeur en question.
            </p>
        </div>
    </footer>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/runtime.js')}}"></script>
        <script src="{{ asset('build/js/app.js')}}"></script>


    </body>


</html>
