{% extends 'base.html.twig' %}
{% block title %}Dragon Ball Super Streaming - Pas introuvable{% endblock %}
{% block meta %}Pas d'erreur 404 pour le site Dragon Ball Super en streaming{% endblock %}
{% block body %}
    <div class="container mt-container-home">
        <h1 class="text-center font-weight-bold title-404 mt-4 mb-1" title="ERREUR 404">ERREUR 404</h1>
    </div>
{% endblock %}